// updateProfile.scss

.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  
  // opacity: 90%;
  color: white;

  .modal {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #D3D3D3;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h2 {
      margin: 20px 0;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .form-input {
        width: 80%;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        color: #333;

        label {
          margin-bottom: 5px;
        }

        // input {
        //   padding: 10px;
        //   border-radius: 5px;
        //   border: 1px solid #ccc;
        //   color: #333;
        //   font-size: 16px;
        //   background-color: #f9f9f9;
        //   transition: border-color 0.3s ease;

        //   &:focus {
        //     border-color: #007bff;
        //     outline: none;
        //   }
        // }
      }

      button {
        width: 80%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:first-of-type {
          background-color: #007bff;
          color: #fff;

          &:hover {
            background-color: #0056b3;
          }
        }

        &:last-of-type {
          background-color: #6c757d;
          color: #fff;

          &:hover {
            background-color: #5a6268;
          }
        }
      }
    }
  }
}
