.create-event {
  display: flex;
  flex-direction: column;
justify-content: center;
  align-items: center;
margin-left: 100px;
  position: fixed;
  width: 80%;
  top: 20%;
  z-index: 1;
  background-color: #D3D3D3;
  opacity: 80%;
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75vh;
    .form-input {
      display: flex;
      flex-direction: column;
      color: black;
    }
  button{
    background-color: rgb(5, 108, 254);
    color: white;
    font-style: bold;
  }
  }
}
